				/***** Fonts *****/
    /* Agis */
@font-face {
    font-family: 'agisbold';
    src: url('https://camunited.github.io/dev/fonts/agis/agis-bold-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'agisextralight';
    src: url('https://camunited.github.io/dev/fonts/agis/agis-extralight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'agislight';
    src: url('https://camunited.github.io/dev/fonts/agis/agis-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'agismedium';
    src: url('https://camunited.github.io/dev/fonts/agis/agis-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'agisregular';
    src: url('https://camunited.github.io/dev/fonts/agis/agis-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    /* Close Agis */

    /* Sarun Pro */
@font-face {
    font-family: 'sarun_pro_boldbold';
    src: url('https://camunited.github.io/dev/fonts/sarunpro/sarunpro-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sarun_pro_bold_italicBdIt';
    src: url('https://camunited.github.io/dev/fonts/sarunpro/sarunpro-bolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sarun_pro_regularregular';
    src: url('https://camunited.github.io/dev/fonts/sarunpro/sarunpro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sarun_proregular_italic';
    src: url('https://camunited.github.io/dev/fonts/sarunpro/sarunpro-regularitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    /* Close Sarun Pro */

    /* TTFirsNeue */
@font-face {
    font-family: 'tt_firs_neuebold';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neuebold_italic';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-bolditalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neueitalic';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neuelight';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neuelight_italic';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-lightitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neuemedium';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neuemedium_italic';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-mediumitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tt_firs_neueregular';
    src: url('https://camunited.github.io/dev/fonts/ttfirsneue/ttfirsneue-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    /* Close TTFirsNeue */

    /* Arial */

    /* Close Arial */



    /* Myriad */

    /* Close Myriad */


					/***** Close Fonts *****/